.f-nunito {
    font-family: "Avenir", "Nunito", sans-serif !important;
}

.f-baskerville {
    font-family: "Baskerville", "Libre Baskerville", serif !important;
    letter-spacing: 0.05em !important;
}

a {
    color:green;
    text-decoration: none;
}

a:hover {
    color:black;
}

/* list */
li{
    margin: 1em 0;
}  
ul {
    list-style-type:none;
    padding-left: 5px;
}